

.code3{
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    width: 2rem;
    text-align: center;
}
.secuencial{
  font-size: 1.5em;
  font-weight: bold;
  color: #000;
  width: 4.5rem;
  text-align: center;
}

input{
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
}



.my-input {
  background: #ffffff;
  padding: 0.43rem 0.43rem;
  border: 1px solid #ced4da;
  border-radius: 6px;
  position: relative;
  top: -1.5rem;
}

.my-input.disabled{
  background-color: #eff2f5;
}

input:focus{
  outline: none;
  border: none;
}

input:active{
  outline: none;
  border: none;
}

.my-input:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #c1c2f9;
  border-color: #6366F1;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  border: none;
}
label {
  top: -1.5rem;
  left: 0.8rem;
    font-size: 12px;
    position: relative;
    pointer-events: none;
    margin-top: -0.5rem;
    transition-property: all;
    transition-timing-function: ease;
    line-height: 1;
}

