<div class="h-10rem bg-white border-bottom-1 border-gray-200">
  <app-dynamic-breadcrumb></app-dynamic-breadcrumb>

  <span class="ml-5 p-0 text-gray-800 text-3xl">{{ title }}</span>
  <div class="flex justify-center items-center w-full">
    <div class="container-botones-listpage">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-plus"
        class="p-button-rounded p-button-success"
        (click)="gotoCardCreate()"
        [disabled]="!permisos.create"
      ></button>

      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-eye"
        class="p-button-rounded p-button-info"
        [disabled]="!selected && !permisos.read"
        (click)="gotoCard()"
      ></button>

      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-filter"
        class="p-button-rounded p-button-warning"
        (click)="displayFilterChange()"
      ></button>
    </div>
  </div>
</div>
